EsbEvaluationTool/ConsumerWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://service/" name="ConsumerWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service/" schemaLocation="ConsumerWSService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="startScenario">
        <part name="parameters" element="tns:startScenario"/>
    </message>
    <message name="startScenarioResponse">
        <part name="parameters" element="tns:startScenarioResponse"/>
    </message>
    <message name="setScenario">
        <part name="parameters" element="tns:setScenario"/>
    </message>
    <message name="setScenarioResponse">
        <part name="parameters" element="tns:setScenarioResponse"/>
    </message>
    <message name="retrieveResults">
        <part name="parameters" element="tns:retrieveResults"/>
    </message>
    <message name="retrieveResultsResponse">
        <part name="parameters" element="tns:retrieveResultsResponse"/>
    </message>
    <message name="msgrec">
        <part name="parameters" element="tns:msgrec"/>
    </message>
    <message name="msgrecResponse">
        <part name="parameters" element="tns:msgrecResponse"/>
    </message>
    <portType name="ConsumerWS">
        <operation name="startScenario">
            <input wsam:Action="http://service/ConsumerWS/startScenarioRequest" message="tns:startScenario"/>
            <output wsam:Action="http://service/ConsumerWS/startScenarioResponse" message="tns:startScenarioResponse"/>
        </operation>
        <operation name="setScenario">
            <input wsam:Action="http://service/ConsumerWS/setScenarioRequest" message="tns:setScenario"/>
            <output wsam:Action="http://service/ConsumerWS/setScenarioResponse" message="tns:setScenarioResponse"/>
        </operation>
        <operation name="retrieveResults">
            <input wsam:Action="http://service/ConsumerWS/retrieveResultsRequest" message="tns:retrieveResults"/>
            <output wsam:Action="http://service/ConsumerWS/retrieveResultsResponse" message="tns:retrieveResultsResponse"/>
        </operation>
        <operation name="msgrec">
            <input wsam:Action="http://service/ConsumerWS/msgrecRequest" message="tns:msgrec"/>
            <output wsam:Action="http://service/ConsumerWS/msgrecResponse" message="tns:msgrecResponse"/>
        </operation>
    </portType>
    <binding name="ConsumerWSPortBinding" type="tns:ConsumerWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="startScenario">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setScenario">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveResults">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="msgrec">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ConsumerWSService">
        <port name="ConsumerWSPort" binding="tns:ConsumerWSPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

