EsbEvaluationTool/src/META-INF/wsdl/localhost_8080/ConsumerApp1/ConsumerWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

    <xs:element name="InterruptedException" type="tns:InterruptedException"/>

    <xs:element name="retrieveResults" type="tns:retrieveResults"/>

    <xs:element name="retrieveResultsResponse" type="tns:retrieveResultsResponse"/>

    <xs:element name="setScenario" type="tns:setScenario"/>

    <xs:element name="setScenarioResponse" type="tns:setScenarioResponse"/>

    <xs:element name="startScenario" type="tns:startScenario"/>

    <xs:element name="startScenarioResponse" type="tns:startScenarioResponse"/>

    <xs:complexType name="retrieveResults">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="retrieveResultsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:taskResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="taskResult">
        <xs:sequence>
            <xs:element name="timeToReceive" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="timeToSend" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setScenario">
        <xs:sequence>
            <xs:element name="arg0" type="tns:consumerTask" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="consumerTask">
        <xs:sequence>
            <xs:element name="duration" type="xs:int"/>
            <xs:element name="period" type="xs:int"/>
            <xs:element name="processingTime" type="xs:int"/>
            <xs:element name="producerWsdl" type="xs:string" minOccurs="0"/>
            <xs:element name="requestSize" type="xs:int"/>
            <xs:element name="responseSize" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setScenarioResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="startScenario">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="startScenarioResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InterruptedException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>